@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

html {
    font-family: verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
}

h1 {
    font-size: 48px;
    line-height: 1;
}

h2 {
    font-size: 36px;
    line-height: 1.3333;
}

h3 {
    font-size: 24px;
    line-height: 1;
}

hgroup h2, h4, h5, h6 {
    font-size: 16px;
    line-height: 1.5;
}

/* header */
header {
    text-align: center;
    padding-top: 24px;
    background: #211f1f;
}

header h1 {
    margin-bottom: 24px;
}

header h2 {
    color: #62240b;
}

/* Navigation bar */
nav {
    margin-bottom: 24px;
    background-color: #7D4934;
    background: -moz-linear-gradient(top, rgba(125, 73, 52, 1) 0%, rgba(43, 21, 18, 1) 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 73, 52, 1)), color-stop(88%, rgba(43, 21, 18, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125, 73, 52, 1) 0%, rgba(43, 21, 18, 1) 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125, 73, 52, 1) 0%, rgba(43, 21, 18, 1) 88%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(125, 73, 52, 1) 0%, rgba(43, 21, 18, 1) 88%); /* W3C */
}

nav ul {
    overflow: hidden
}

nav ul li {
    width: 25%;
    float: left
}